doctype html
html
    head
        meta(charset="utf-8")
        title OverMatch: Community-Driven Overwatch Stats
        meta(description="OverMatch is a community-driven meta-game for Blizzard's Overwatch.")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/stylesheets/rangeslider.css")
        link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans")
        link(rel="stylesheet", href="/stylesheets/main.css")
        link(rel="icon" href="/favicon.ico")

    body
        #disconnect-alert.alert.alert-danger
            p Oops! We've lost your connection. Please refresh the page.
        .container
            .row
                #header.col-xs-12.text-center
                    #status-div
                    #title.row 
                        p OverMatch
                    #subtitle.row
                        p Community-Driven Overwatch Stats
            .row.before.shadow-top.soft-bg
            #summary.row.soft-bg
                .col-xs-12
                    p OverMatch allows players to vote for what they consider good and bad matchups in Overwatch. This data is used to provide rankings for individual matchups, including enemies, teammates, and map strategies. Players can also use the Team Builder to get suggetions on what heroes to pick based on the enemy or friendly team composition. This site was built by a community member, for the community - I am always interested in <a target="_blank" href="https://docs.google.com/forms/d/1Ux5oRuSmXepCxEovF0-MfycIDpkA8iUzFAMEzGXXR2Y/viewform?usp=send_form">feedback</a>!
            .row.after.shadow-bottom.soft-bg
            #header-menu.row.text-center
                .col-xs-12
                    p Random Matchups
            #loading-div.row.text-center.shadow-top.soft-bg
                p Getting next match

            #vs-game-div.row
                .col-xs-12.text-center
                    .row.matchup-title.shadow-top.soft-bg
                        #vs-title.col-xs-12
                    .row.matchup-game.soft-bg
                        .col-xs-0.col-md-1
                        #vs-hero.col-xs-4.col-md-3
                            .row.text-center
                                #vs-hero-img.char-img
                            .row
                                #vs-hero-name.col-xs-12
                            
                        .col-xs-4.col-md-4
                            .row
                                #vs-slide-val.slide-num
                            .row
                                #vs-slide-quote.col-xs-12.slide-quote
                                
                        #vs-opponent.col-xs-4.col-md-3
                            .row
                                #vs-opponent-img.char-img
                            .row
                                #vs-opponent-name.col-xs-12

                    #slider-div.row.soft-bg
                        .col-xs-1.col-md-4
                        #vs-slide-div.col-xs-7.col-md-4
                            input(id="vs-slider" type="range" min="0" max="10" step="1")
                        .col-xs-3.next-btn-wrapper
                            #vs-next.next-btn-div.text-center
                                button(class="btn" id="vs-next") Submit Vote

            #team-game-div.row
                .col-xs-12.text-center
                    .row.matchup-title.shadow-top.soft-bg
                        #team-title.col-xs-12
                    .row.matchup-game.soft-bg
                        .col-xs-0.col-md-1
                        #team-hero.col-xs-4.col-md-3
                            .row.text-center
                                #team-hero-img.char-img
                            .row
                                #team-hero-name.col-xs-12
                            
                        .col-xs-4.col-md-4
                            .row
                                #team-slide-val.slide-num
                            .row
                                #team-slide-quote.col-xs-12.slide-quote

                        #team-friend.col-xs-4.col-md-3
                            .row
                                #team-friend-img.char-img
                            .row
                                #team-friend-name.col-xs-12

                    #slider-div.row.soft-bg
                        .col-xs-1.col-md-4
                        #team-slide-div.col-xs-7.col-md-4
                            input(id="team-slider" type="range" min="0" max="10" step="1")
                        .col-xs-3.next-btn-wrapper
                            #team-next.next-btn-div.text-center
                                button(class="btn" id="team-next") Submit Vote


            #solo-game-div.row
                .col-xs-12.text-center
                    .row.matchup-title.shadow-top.soft-bg
                        #solo-title.col-xs-12
                    .row.matchup-game.soft-bg
                        .col-xs-0.col-md-1
                        #solo-hero.col-xs-4.col-md-3
                            .row.text-center
                                #solo-hero-img.char-img
                            .row
                                #solo-hero-name.col-xs-12
                            
                        .col-xs-4.col-md-4
                            .row
                                #solo-slide-val.slide-num
                            .row
                                #solo-slide-quote.col-xs-12.slide-quote
                            
                        #solo-map.col-xs-4.col-md-3
                            .row
                                #solo-map-img.map-img
                            .row
                                #solo-map-name.col-xs-12

                    #slider-div.row.soft-bg
                        .col-xs-1.col-md-4
                        #solo-slide-div.col-xs-7.col-md-4
                            input(id="solo-slider" type="range" min="0" max="10" step="1")
                        .col-xs-3.col-md-4next-btn-wrapper
                            #solo-next.next-btn-div.text-center
                                button(class="btn" id="solo-next") Submit Vote
                    
            #last-match.row.soft-bg.last-match-row.text-center
                .col-xs-0.col-md-2
                #last-match-table.col-xs-12.col-md-8
                    #last-match-results.col-xs-3
                        p Last Match:
                    #last-match-pics.col-xs-3
                    #last-match-score.col-xs-3
                    #last-match-votes.col-xs-3
            .row.matchup-slider.shadow-bottom.soft-bg
            
            #menu.row.text-center
                #hero-stats-btn.col-xs-3.menu-option.bigmenu-selected
                    p Hero Stats
                #map-stats-btn.col-xs-3.menu-option.menu-option
                    p Map Stats
                #team-counter-btn.col-xs-3.menu-option
                    p Enemy Team Builder
                #friendly-team-btn.col-xs-3.menu-option
                    p Friendly Team Builder

            #pick-hero-before.row.shadow-top

            #pick-hero.row.text-center
                .col-xs-12
                    .row
                        #instructions.col-xs-12.text-left.pick-instructions
                            p <span class="hero">Pick a hero</span> to see their matchups, counters, teammates and map synergies:
                .col-xs-12
                    .row
                    each hero in heroes
                        .pick-hero-div
                            .pick-hero-thumb(title="#{hero.name}" data-id="#{hero.id}")
                                img(src="/images/thumbnails/#{hero.tag}.png")
                            .pick-hero-name

            #pick-team.row.text-center
                .col-xs-12
                    .row
                        #instructions1.col-xs-12.text-left.pick-instructions
                    .row
                        each val in ["s1","s2","s3","s4","s5","s6"]
                            div(id=val).col-xs-12.col-sm-6.col-md-4.hero-dropdown-box
                                .row
                                    .col-xs-12.dropdown-pic
                                        p ?
                                .row
                                    .col-xs-12.hero-dropdown-div.text-center
                                        select.form-control.hero-dropdown
                                            option(value="" selected) Choose a hero...
                    .row
                        #instructions2.col-xs-12.text-left.pick-instructions
                    .row
                        .col-xs-12.col-sm-6.col-md-4.map-dropdown-box
                            .row
                                #map-dropdown-pic.col-xs-12
                                    p ?
                            .row
                                .col-xs-12.map-dropdown-div.text-center
                                    select#team-map.form-control.map-dropdown
                                        option(value="" selected) Choose a map...
                        .col-xs-12.col-sm-6.col-md-4.map-dropdown-box
                            .row
                                #team-days-header.col-xs-12
                                    p Use data from the last:
                            .row
                                .col-xs-12.map-dropdown-div.text-center
                                    select#team-days.form-control.days-dropdown
                                        option(value="7") 7 days
                                        option(value="30" selected) 30 days
                        .col-xs-12.col-sm-6.col-md-4.map-dropdown-box
                            .row
                                #team-days-header.col-xs-12
                            .row
                                .col-xs-12.map-dropdown-div.text-center
                                    #team-submit.menu-btn
                                        p SUBMIT

            #hero-stats-title.row
                .col-xs-3
                #hero-stats-name.col-xs-6.text-center

            #hero-stats.row.text-center.soft-bg.shadow-top
            
                #hero-stats-menu.row

                    .col-xs-12.text-center
                        #matchups-btn.menu-btn
                            p Matchups
                        #counters-btn.menu-btn
                            p Counters
                        #teammates-btn.menu-btn
                            p Teammates
                        #maps-btn.menu-btn
                            p Maps
  
                #beta.row.text-center
                    .col-xs-12
                        p Overmatch currently in Beta. <strong> Results will be inaccurate</strong> until the site collects enough votes. Thank you for helping! 
                .row
                    .col-xs-0.col-md-2
                    #hero-stats-table.col-xs-12.col-md-8

            #pick-hero-after.row.shadow-bottom
            
            #copyright.row.text-center
                .col-xs-12
                    p ©2015 Blizzard Entertainment, Inc. All rights reserved. Overwatch is a trademark of Blizzard Entertainment, Inc.


        script(src="js/data/heroes.js")              
        script(src="js/data/maps.js")        
        script(src="js/globals.js")        
        script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
        script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
        script(src="//cdn.socket.io/socket.io-1.2.0.js")
        script(src="js/libs/rangeslider.min.js")
        script(src="js/stats.js")
        script(src="js/team.js")
        script(src="js/socket.js")
        script(src="js/game/opponents_game.js")
        script(src="js/game/maps_game.js")
        script(src="js/game/friends_game.js")
        script(src="js/main.js")
